<!DOCTYPE html>
<html lang="en">

<head>

  <title>
    <%= user.username %> | Profile 
  </title>

  <!-- Bootstrap Core CSS -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="/css/shop-homepage.css" rel="stylesheet">

  <!-- jQuery -->
  <script src="/js/jquery.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="/js/bootstrap.min.js"></script>

</head>

<body>

  <%- include navbar.ejs %>
  <br/>
  <br/>
  <div class="container">
    <div class="list-group text-profile col-md-6">

      <a class="list-group-item">
        <div class="row">
          <div class="col-md-3">
            <b>Name:</b>
          </div>
          <div class="col-md-3">
            <%= user.name %>
          </div>
        </div>
      </a>
      <a class="list-group-item">
        <div class="row">
          <div class="col-md-3">
            <b>Surname:</b>
          </div>
          <div class="col-md-3">
            <%= user.surname %>
          </div>
        </div>
        
      </a>
      <a class="list-group-item">
        <div class="row">
          <div class="col-md-3">
            <b>Gender:</b>
          </div>
          <div class="col-md-3">
            <%= user.gender %>
          </div>
        </div>      
      </a>
      <a class="list-group-item">
        <div class="row">
          <div class="col-md-3">
            <b>Age:</b>
          </div>
          <div class="col-md-3">
            <%= user.age %>
          </div>
        </div>
        
      </a>
      <a class="list-group-item">
        <div class="row">
          <div class="col-md-3">
            <b>Country:</b>
          </div>
          <div class="col-md-3">
            <%= user.country %>
          </div>
        </div>
      </a>
      <br/>
      <button type="button" class="btn btn-default btn-lg" style="width:229px" data-href="/payment">Add Payment</button>
    </div>
  </div>
  <script src="/js/game.js"></script>
    
</body>

</html>